{% include "styles.css" %}
<div class="board">
    {% for row in board %}
        {% for card in row %}
            <div class="card {% if card.facedown %}facedown{% else %}{{ card.suit_name }}{% endif %}">
                {% if not card.facedown %}
                    <div class="corner top-left">
                        <span>{{ card.rank }}</span><br><span>{{ card.suit }}</span>
                    </div>
                    <div class="suit">{{ card.suit }}</div>
                    <div class="corner bottom-right">
                        <span>{{ card.rank }}</span><br><span>{{ card.suit }}</span>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</div>