{% macro draw_card(card, marker=False) %}
  
    <div class="{% if marker %}marker {% endif %}{% if card %}card {% if card.facedown %}facedown{% else %}{{ card.suit_name }}{% endif %}">
      {% if not card.facedown %}
        <div class="corner top-left">
          <span>{{ card.rank }}</span><br><span>{{ card.suit }}</span>
        </div>
        <div class="suit">{{ card.suit }}</div>
        <div class="corner bottom-right">
          <span>{{ card.rank }}</span><br><span>{{ card.suit }}</span>
        </div>
      {% endif %}
      {% else %}">
      {% endif %}
    </div>
{% endmacro %}

{% macro draw_board(board, move_sequence=None, marker_pos=False) %}
<div class="board">
    {% for row in board %}
        {% set row_index = loop.index0 %}
        {% for card in row %}
            {% set marker = (row_index, loop.index0)==marker_pos %}
            {% set card = card if not move_sequence else (None if ((row_index, loop.index0) in move_sequence) else card) %}
            {{ draw_card(card, marker=marker) }}
        {% endfor %}
    {% endfor %}
</div>
{% endmacro %}

{% macro draw_hand(hand, turn_indicator=False) %}
<div>
    <div class="score">{{ hand.score() }} points{% if turn_indicator %}<span class="turnmarker"></span>{% endif %}</div>
    <div class="handarray">
        {% for suit in hand.cards_for_display %}
            <div class="hand">
                {% for card in suit %}
                    {% if card %}
                        {{ draw_card(card) }}
                    {% else %}
                        <div></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}