{% extends "base.html.jinja2" %}
{% import "components.html.jinja2" as macros %}
{% block content %}
<div class="game-container">
    {{ macros.draw_board(game.board, game.moves) }}
    <div class="hands">
        {{ macros.draw_hand(game.p1) }}
        {{ macros.draw_hand(game.p2) }}
    </div>
</div>
{% endblock %}